body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #EFE6D4;
    padding-top: 80px; /* Säädä tarvittaessa headerin korkeuden mukaan, 
    VAIKUTTAA MUNAKUVAAN */
}

.site-header {
    position: fixed; /* Pitää headerin yläreunassa*/
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f8f8;
    padding: 10px 20px;
}

.site-header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Lisätty, jotta sisältö ulottuu koko leveydelle */
}

h1 a {
    font-family: "Snippet", sans-serif;
    font-size: 64px;
    color: #413B3B;
    text-decoration: none;
}

nav {
    display: flex;
    align-items: center;
    margin-left: auto; /* Siirtää navin oikeaan reunaan */
}

nav a {
    color: #333;
    font-family: 'Roboto Flex', sans-serif;
    font-size: 36px;
    text-decoration: none;
    margin-left: 15px;
}

nav a:hover {
    color: #666;
}