body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #EFE6D4;
    padding-top: 80px; /* Säädä tarvittaessa headerin korkeuden mukaan, 
    VAIKUTTAA MUNAKUVAAN */
}

.site-header {
    position: fixed; /* Pitää headerin yläreunassa*/
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f8f8;
}

.site-header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2em;
    width: 100%; /* Lisätty, jotta sisältö ulottuu koko leveydelle */
}

h1 a {
    margin: 0.6em;
    font-family: "Snippet", sans-serif;
    font-size: 64px;
    color: #413B3B;
    text-decoration: none;
}

nav {
    display: flex;
    align-items: center;
    margin-left: auto; /* Siirtää navin oikeaan reunaan */
}

nav a {
    color: #333;
    font-family: 'Roboto Flex', sans-serif;
    font-size: 36px;
    text-decoration: none;
    margin: 1em;
}

nav a:hover {
    color: #666;
}

/*ETUSIVU*/
.texti  {
    font-family: "Source Sans 3", sans-serif;
    font-size: 20px;
    max-width: 400px;
    margin-right: auto;
    margin-top: 20%;
    margin-left: 15%;
    float: left;
}







/*OHJEETSIVU*/
.flex-ohjeet {
    margin: 10px;
    padding-bottom: 2em;
    padding-top: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
}
    
.otsikko_muotoilu {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 40px;
    color: #695858;
    margin:12px 4px;
}  

.flex-container6 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
  
.flex-container6 > div {
    background-color: #f1f1f1;
    border-radius: 15px;
    border: 4px solid #000000;
    padding: 20px; 
    width: 260px;
    height: 300px; 
    margin: 24px 36px;
    text-align: center;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 20px;
}

  


  /*YHTEYSTIEDOT*/
  body {
    font-family: 'Roboto Flex', 'Source Sans 3', sans-serif;
    background-color: #EFE6D4;
    color: #333;
    margin: 0;
    padding: 0;
}

.contact-container {
    display: flex;
    justify-content: space-evenly; 
    padding: 30px 25%;
}

.contact-info, .contact-form {
    background-color: #EFE6D4;
    padding: 20px;
    border-radius: 5px;
    margin-top: 150px;
    width: 50%;
    color: #695858;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 22px;
    
    
}

.info {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.info p {
    margin-left: 10px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form input, .contact-form textarea, .contact-form button {
    margin-bottom: 15px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 7px;
}

.contact-form button {
    background-color: #333;
    color: white;
    cursor: pointer;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #7A746B; 
    text-align: center;
    color: #413B3B;
    padding-top: 10px;
}

footer:before {
    content: '';
    display: block;
    height: 5px; 
    background-color: #9B968E; 
    width: 100%;
    position: absolute;
    top: -5px;
}


@media (max-width: 768px) {
    .contact-info, .contact-form {
        width: 100%; /* pienillä näytöillä elementit vievät koko leveyden */
        margin-bottom: 20px; /* lisää välimatkaa elementtien välille */
    }
}
