body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #EFE6D4;
    padding-top: 80px; /* Säädä tarvittaessa headerin korkeuden mukaan, 
    VAIKUTTAA MUNAKUVAAN */
}

.content{
    margin: auto;
    max-width: 80%;
    margin-top:20px;
    margin-bottom: 20px;
}

.site-header {
    position: fixed; /* Pitää headerin yläreunassa*/
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f8f8;
    padding: 10px 20px;
}

.site-header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Lisätty, jotta sisältö ulottuu koko leveydelle */
}

h1 a {
    font-family: "Snippet", sans-serif;
    font-size: 64px;
    color: #413B3B;
    text-decoration: none;
}

nav {
    display: flex;
    align-items: center;
    margin-left: auto; /* Siirtää navin oikeaan reunaan */
}

nav a {
    color: #333;
    font-family: 'Roboto Flex', sans-serif;
    font-size: 36px;
    text-decoration: none;
    margin-left: 15px;
}

nav a:hover {
    color: #666;
}




section {
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    /*justify-content: space-between;*/
    margin: 20px;
    overflow: hidden;
}

img {
    max-width: 900px;
    height: auto;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 20px;
    overflow: hidden;
}
.centered-image img {
    max-width: 900px;
    height: auto;
    margin-right: auto;
    /*margin-left: 40%; /* Säädä tätä prosenttiosuutta siirtääksesi kuvaa vasemmalle */
    /*margin-right: auto;*/
}
.tekstipalsta  {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    display: flex;
    align-items: center;
    flex: 1;
    max-width: 500px;
    padding: 40px;
    height: auto;
    box-sizing: border-box;
}



article {
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    padding: 20px;
    width: 30%;
    float: left;
    margin-right: 1%;

}
article img {
    border-radius: 5px;
    max-width: 100%;
}

article h2 {
    margin-top: 0;
}
form {
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 20px;
    padding: 20px;
    width: 50%;
}
form label {
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
}
form input[type="text"], form input[type="email"], form textarea {
    border-radius: 5px;
    border: none;
    font-size: 20px;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
}
form input[type="submit"] {
    background-color: #333;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 20px;
    padding: 10px;
    width: 100%;
}
form input[type="submit"]:hover {
    background-color: #666;


}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #7A746B; 
    text-align: center;
    color: #413B3B;
}

footer:before {
    content: '';
    display: block;
    height: 5px; /* Ohuen palkin korkeus */
    background-color: #9B968E; /* Palkin väri */ 
    width: 100%;
    position: absolute;
    top: -5px;
}



/* Media queries */
@media only screen and (max-width: 768px) {
    section {
        /*flex-direction: column;*/
        overflow: hidden;
    }

    article {
        width: 100%;
        margin-right: 0;
    }
}

@media only screen and (max-width: 480px) {
    nav {
        /* flex-direction: column;
        align-items: center; */
        float: none;
        width: 100%;
    }

    nav a {
        margin: 10px 0;
        float: left;
        width: 100%;
    }
}
